<ion-segment scrollable [(ngModel)]="currentEditorModel">
  <ion-segment-button *ngFor="let model of editorModels" [title]="model.uri.fsPath" [value]="model">
    <div>
      <ion-label>
        {{obatinFileName(model.uri.fsPath)}}
        <ion-button fill="clear" (click)="closeModel(model)">
          <ion-icon name="close"></ion-icon>
        </ion-button>
      </ion-label>
    </div>
  </ion-segment-button>
</ion-segment>

<iframe name="editor-frame" src="./assets/monaco-editor/editor.html" frameborder="0"
  (load)="initializeMonaco()"></iframe>