<ion-header>
  <ion-toolbar color="medium">
    <ion-title>
      CloneWorld
    </ion-title>
    <ion-buttons slot="start">
      <ion-button class="menu-button" (click)="openFileMenu($event)">
        <ion-icon name="folder-open"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-menu-button class="menu-button" title="Toggle Control Panel">
          <ion-icon name="options"></ion-icon>
      </ion-menu-button>
      <ion-button class="menu-button" title="Open Dev Tools" (click)="openDebugger()">
        <ion-icon name="bug"></ion-icon>
      </ion-button>
      <ion-button class="toolbar-button" (click)="minimizeWindow()">
        <ion-icon name="remove"></ion-icon>
      </ion-button>
      <ion-button class="toolbar-button" (click)="maximizeOrUnmaximizeWindow()">
        <ion-icon [name]="isWindowMaximized ? 'contract' : 'expand'"></ion-icon>
      </ion-button>
      <ion-button class="toolbar-close-button" (click)="close()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-split-pane contentId="menu-content">
    <!--  our side menu  -->
    <ion-menu side="end" contentId="menu-content">
      control
    </ion-menu>

    <!-- the main content -->
    <ion-content id="menu-content" color="light">
      <ion-row class="vis-view">
        <ion-col size="6">
          <ion-card>
            vis1
          </ion-card>
        </ion-col>
        <ion-col size="6">
          <ion-card>
            vis2
          </ion-card>
        </ion-col>
        <ion-col size="6">
          <ion-card>
            vis3
          </ion-card>
        </ion-col>
        <ion-col size="6">
          <ion-card>
            vis4
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row class="other-view">
        <ion-col>
          <ion-card>
            <app-parallel-coordinates-view></app-parallel-coordinates-view>
          </ion-card>
        </ion-col>
        <ion-col size="0" style="min-width: 50px">
          <ion-card>
            <app-clone-quick-picker-view></app-clone-quick-picker-view>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-content>
  </ion-split-pane>
</ion-content>