ion-header > ion-toolbar {
    -webkit-user-select: none;
    -webkit-app-region: drag;
}

ion-header > ion-toolbar ion-button ,ion-header > ion-toolbar ion-menu-button {
    -webkit-app-region: no-drag;
}

.menu-button:hover {
    color: gray;
}

.toolbar-button:hover{
    background-color: gray;
}

.toolbar-close-button:hover{
    background-color: red;
}

.vis-view {
    height: 75%;
}

.other-view {
    min-height: 25%;
}

ion-card {
    height: 100%;
    background-color: white;
    margin: 0;
}